// _variables.scss

// Breakpoints
$screen-width-sm: 700px;

// Fonts
$font-family: "Lato", sans-serif;
$font-family-black: "Lato-Black", sans-serif;
$font-size-normal: 18px;

// Font sizes html font: 14 px
$xs-font-size: 12px;
$sm-font-size: 15px;
$md-font-size: 17px;
$lg-font-size: 20px;
$xl-font-size: 24px;